div:after,
ol:after,
form:after,
ul:after,
dl:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}

@font-face{
	font-family:"TitilliumWeb-Regular";
	src:url(../fonts/titilliumweb-regular.eot);
	src:url(../fonts/titilliumweb-regular.eot#iefix) format('embedded-opentype'),url(../fonts/titilliumweb-regular.woff) format('woff'),url(../fonts/titilliumweb-regular.ttf) format('truetype'),url(../fonts/titilliumweb-regular.svg) format('svg');
	font-weight:normal /*400*/;
	font-style:normal;
}
@font-face{
	font-family:"TitilliumWeb-SemiBold";
	src:url(../fonts/titilliumweb-semibold.eot);
	src:url(../fonts/titilliumweb-semibold.eot#iefix) format('embedded-opentype'),url(../fonts/titilliumweb-semibold.woff) format('woff'),url(../fonts/titilliumweb-semibold.ttf) format('truetype'),url(../fonts/titilliumweb-semibold.svg) format('svg');
	font-weight:normal /*600*/;
	font-style:normal;
}



/* ---------- classes gerais ----------*/
body{
	margin: 0;
	padding: 0;
	background: #fff url(../images/bg-topo.png) repeat-x;
	font-size: 13px;
	line-height: 20px;
	color: #656565;
	font-family: "TitilliumWeb-Regular", "Trebuchet MS", Arial;
}
a{
	color: #3ca2d9;
	text-decoration: none;
	transition: color 0.3s;
}
a:hover{
	color: #004e8c;
	text-decoration: none;
	transition: color 0.3s;
}
a.marinho{
	color: #004e8c;
}
a.marinho:hover{
	color: #1b92d3;
}
h1{
    color: #004e8c;
    font-family: "TitilliumWeb-SemiBold", "Trebuchet MS", Arial;
    font-size: 24px;
    line-height: 28px;
    margin: 6px 0;
    padding: 0;
    text-transform: uppercase;
}
h1 span{
    font-family: "TitilliumWeb-Regular";
}
h2{
	color: #004e8c;
	font-family: "TitilliumWeb-SemiBold", "Trebuchet MS", Arial;
	font-size: 14px;
	line-height: 16px;
	margin-top: 0;
	text-transform: uppercase;
}
.curvo{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.link-direita{
	font-size: 14px;
	line-height: 16px;
	color: #004e8c;
}
.link-direita:hover{
	color: #1b92d3;
}

.hidden{
	overflow: hidden;
}
.botao-simples{
	color: #fff;
	background-color: #3ca2d9;
	border: none;
	font-size: 14px;
	line-height: 16px;
	font-family: "TitilliumWeb-SemiBold", "Trebuchet MS", Arial;
	transition: background-color .3s;
	padding: 5px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 10px;
}
.botao-simples:hover{
	cursor: pointer;
	background: #004e8c;
}
section{
	clear: both;
}
label{
    font-weight: normal;
}
.form-group{
    margin-bottom: 12px;
}
.btn-padrao{
    background-color: #3ca2d9;
    color: #fff;
    font-family: "TitilliumWeb-SemiBold", "Trebuchet MS", Arial;
    margin: 0 5px 5px 0;
    padding: 4px 8px 5px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    border-radius: 3px;
    transition: background-color 0.3s;
}
.btn-padrao:hover{
    background-color: #004e8c;
    color: #fff;
    transition: background-color 0.3s;
}
.input-text-adicionar-documento{
    border: 1px solid #ccc;
    padding: 2px 8px 3px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    border-radius: 3px;
    width: 402px;
    margin: 0 0 8px;
}



.secretaria-extenso{
	color: #25527e;
	line-height: 14px;
	font-size: 12px;
	margin-top: 40px;
	text-transform: uppercase;
}
.topo-fazenda{
	background: rgb(35,81,125);
	background: linear-gradient(180deg, rgba(35,81,125,1) 0%, rgba(117,145,172,1) 100%);
	margin-top: 22px;
	border-bottom: 4px solid #f5f5f5;
}
.titulo-intranet{
	color: #fff;
	line-height: 30px;
	font-family: "TitilliumWeb-Regular", "Trebuchet MS", Arial;
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 25px;
}
.logo-fazenda-svg {
    display: block;
    width: 200px;
    height: 26px;
	fill: #fff;
	margin: 26px auto;
}
.bt-acesso-rapido{
	background: #07689d;
	border: 2px #fff solid;
    color: #fff;
    font-family: "TitilliumWeb-SemiBold", "Trebuchet MS", Arial;
	padding: 4px 8px 4px;
	font-size: 14px;
    line-height: 16px;
	text-transform: uppercase;
	white-space: nowrap;
	margin-top: 25px;
	transition: background-color 0.3s;
}
.bt-acesso-rapido:hover{
	cursor: pointer;
	background: #00598a;
	transition: background-color 0.3s;
}

/*----- acesso rapido -----*/
.itens-acesso-rapido .opcoes-acesso-rapido{
	position:absolute;
	top:53px;
	right:15px;
	background:#3face8;
	padding:8px 14px !important;
	width:260px;
	z-index:750;
	display:none;
}
.itens-acesso-rapido .opcoes-acesso-rapido ul{
	list-style:none;
	margin:0;
	padding:0;
}
.itens-acesso-rapido .opcoes-acesso-rapido ul li{
	font-size:12px;
	line-height:14px;
	padding:3px 0;
	color:#fff;
}
.itens-acesso-rapido .opcoes-acesso-rapido ul li a{
	color:#fff;
	text-decoration:none;
}
.itens-acesso-rapido .opcoes-acesso-rapido ul li a:hover{
	text-decoration:underline;
}
.itens-acesso-rapido .opcoes-acesso-rapido ul li button{
	margin-top:9px;
}
/*----- fim acesso rapido -----*/

.menu{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu li{
	float: left;
	text-transform: uppercase;
	font-family: "TitilliumWeb-SemiBold", "Trebuchet MS", Arial;
	font-size: 14px;
	margin: 0 50px 0 0;
	padding: 21px 0 22px;
}
.menu li a.institucional{
	background: url(../images/img-ico-institucional.png) no-repeat;
	padding: 3px 0 3px 33px;
}
.menu li a.busca-documentos{
	background: url(../images/img-ico-busca-documentos.png) no-repeat;
	padding: 3px 0 3px 38px;
}


.usuario-logado{
    float: right;
}
.usuario-logado .foto-usuario-mini{
	border: 2px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: right;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
    width: 43px;
    height: 43px;
    margin: 8px 0 0 12px;
}
.usuario-logado .informacoes-usuario,
.usuario-logado .saudacao,
.usuario-logado .opcoes-usuario{
    float: right;
    text-transform: uppercase;
    color: #1b92d3;
}
.usuario-logado .informacoes-usuario{
    margin-top: 15px;
}
.usuario-logado .saudacao{
    font-size: 14px;
    line-height: 16px;
}
.usuario-logado .saudacao b{
    font-weight: normal;
    font-family: "TitilliumWeb-SemiBold", "Trebuchet MS", Arial;
}
.usuario-logado .opcoes-usuario{
    clear: both;
    font-size: 12px;
    line-height: 14px;
}



section.conteudo-internas{
    background: #eaeaea;
	padding-top: 0;
	padding-bottom: 50px;
}
section.conteudo-internas .linha-titulo{
    border-top: 2px solid #e6e6e6;
    background-color: #f1f1f1;
    padding-top: 12px;
    padding-bottom: 15px;
}
section.conteudo-internas .linha-titulo .tipo-busca{
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
    border: 2px solid #3ca2d9;
    color: #3ca2d9;
    font-family: "TitilliumWeb-SemiBold", "Trebuchet MS", Arial;
    font-size: 14px;
    line-height: 16px;
    width: 82px;
    padding: 10px 0;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 14px;
}
section.conteudo-internas .linha-titulo .tipo-busca:hover,
section.conteudo-internas .linha-titulo .tipo-busca:focus,
section.conteudo-internas .linha-titulo .tipo-busca.selected{
    border-color: #024f8c;
    color: #fff;
    background-color: #3ca2d9;
}
section.conteudo-internas .miolo .box-comum{
    margin-top: 25px;
    padding-top: 12px;
}
section.conteudo-internas .miolo .box-comum h2{
    margin-bottom: 3px;
}
section.conteudo-internas .miolo .box-comum h3{
    font-size: 13px;
    line-height: 14px;
    color: #004e8c;
    margin: 0;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 6px;
}

.box-comum .data,
.box-comum .linha-conteudo .foto{
	margin-right: 10px;
}
.box-comum .data,
.box-comum .linha-conteudo .foto,
.box-comum .linha-conteudo .nome-descricao{
	float: left;
}
.box-comum .data{
	width: 100%;
}
.box-comum .data p{
	text-align: right;
	color: #999;
}
.box-comum .data .dia{
	font-size: 24px;
	line-height: 24px;
}
.box-comum .data .mes{
	font-size: 21px;
	line-height: 18px;
	padding-bottom: 2px;
}
.box-comum .data .hora,
.box-comum .data .ano{
	font-size: 12px;
	line-height: 14px;
	font-family: "TitilliumWeb-SemiBold", "Trebuchet MS", Arial;
	color: #1b92d3;
}
.box-comum .data .hora.externo{
	color: #2cbe3c;
}
.box-comum .data img{
    float: right;
    padding-left: 10px;
}


.box-comum{
	background: #fff;
	border-top: 2px solid #59899e;
	padding: 13px 15px 14px;
	margin-bottom: 30px;
	position: relative;
}
.box-comum h2{
	margin-bottom: 11px;
	line-height: 19px;
}
.box-comum p{
	margin: 0;
	color: #979797;
	line-height: 16px;
}


.foto-usuario{
	border: 4px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: left;
	/*-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);*/
	-webkit-box-shadow: 4px 4px 5px 0px rgba(227,227,227,1);
	-moz-box-shadow: 4px 4px 5px 0px rgba(227,227,227,1);
	box-shadow: 4px 4px 5px 0px rgba(227,227,227,1);
	margin-right: 18px;
	width: 99px;
	height: 99px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.dados-usuario{
	float: left;
}
.nome-usuario{
	color: #1b92d3;
	font-family: "TitilliumWeb-SemiBold";
	font-size: 24px;
	line-height: 26px;
	text-transform: uppercase;
	margin: 35px 0 0;
	padding: 0 0 7px 0;
}
.botoes-direita{
	margin-top: 34px;
}
.link-direita{
	font-size: 12px;
	line-height: 16px;
	color: #004e8c;
	text-transform: uppercase;
}
.link-direita:hover{
	color: #1b92d3;
}
.ico-aniversario{
	float: left;
}
.data-aniversario{
	float: left;
}
.data-aniversario p{
	color: #999;
	width: 43px;
	text-align: center;
	margin-right: 10px;
	line-height: 22px;
}
.data-aniversario p.dia{
	font-size: 32px;
}
.data-aniversario p.mes{
	font-size: 17px;
	text-transform: uppercase;
}
.comunicacao{
	float: left;
}
.comunicacao ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.comunicacao ul li{
	float: left;
	margin-right: 8px;
}
.status{
	float: left;
	margin: 2px 0 0 4px;
	font-family: "TitilliumWeb-SemiBold";
	border: none;
}
.status option{
	float: left;
}
.status .bolinha{
	width: 8px;
	height: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 7px 5px 0 0;
	float: left;
}
.status .ocupado{color: #f26522;}
.status .ocupado .bolinha{background-color: #f26522;}

.bloco-informacoes{
	overflow: hidden;
}
.col-md-4.bloco-informacoes{
	width: 33%;
}
.bloco-informacoes p{
	margin-bottom: 4px;
	line-height: 16px;
}
.bloco-informacoes p:last-child{
	margin-bottom: 0;
}
.bloco-informacoes p span{
	margin-left: 7px;
}

.botoes-fim{
    margin-top: 20px;
    text-align: right;
}
.botoes-fim .btn-grande{
    margin-left: 10px;
}
.btn-grande{
    background-color: #3ca2d9;
    color: #fff;
    width: 182px;
    font-size: 14px;
    line-height: 14px;
    border: none;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "TitilliumWeb-SemiBold", "Trebuchet MS", Arial;
    transition: background-color 0.3s;
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 13px;
}
.btn-grande:hover{
    background-color: #248bc3;
    color: #fff;
    transition: background-color 0.3s;
}
.btn-grande.cancelar{
    background-color: #c4c5c6;
}
.btn-grande.cancelar:hover{
    background-color: #a8a8a9;
}


/* ---------- rodape ---------- */
section.rodape{
	background-color: #eaeaea;
}
.img-rodape img{
	text-align: center;
	display: block;
	width: 100%;
}
.bg-rodape-copa{
	background: url(../images/img-bg-rodape.png) repeat-x;
	min-height: 135px;
    width: 100%;
}
.bg-rodape-copa .info{
	padding: 23px 0 0;
    text-align: center;
    color: #d1d5df;
	font-size: 11px;
	margin: 0;
}
.bg-rodape-copa .info b{
	display: block;
    text-transform: uppercase;
}
.direitos {
    font-size: 11px;
    color: #a3aac0;
    float: left;
	text-align: left;
	margin-top: -20px !important;
}
.tecnologia {
    font-size: 11px;
    color: #a3aac0;
    float: right;
	text-align: right;
	margin-bottom: 0;
	margin-top: -20px !important;
}