.popup {
    background: rgba(0, 0, 0, 0.5) url(../img/index_pop-up.png);
    background-position: top 0, left 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1583px;
    height: 2941px;
    position:absolute;
    z-index: 999;
}

#tour1 {
    background: url(../img/tour1.png);
    position:absolute;
    z-index: 1000;
    margin-top: 135px;
    margin-left: 790px;
    width: 285px;
    height: 88px;
    position:absolute;
}

#tour2 img {
    position:absolute;
    z-index: 1000;
    margin-top: 212px;
    margin-left: 261px;
    position:absolute;
}

#tour3 img {
    position:absolute;
    z-index: 1000;
    margin-top: 135px;
    margin-left: 790px;
    position:absolute;
}

#tour4 img {
    position:absolute;
    z-index: 1000;
    margin-top: 135px;
    margin-left: 790px;
    position:absolute;
}

#tour5 img {
    position:absolute;
    z-index: 1000;
    margin-top: 135px;
    margin-left: 790px;
    position:absolute;
}

#tour6 img {
    position:absolute;
    z-index: 1000;
    margin-top: 1197px;
    margin-left: 240px;
    position:absolute;
}

#tour7 img {
    position:absolute;
    z-index: 1000;
    margin-top: 135px;
    margin-left: 790px;
    position:absolute;
}

#tour8 img {
    position:absolute;
    z-index: 1000;
    margin-top: 135px;
    margin-left: 790px;
    position:absolute;
}

#tour9 img {
    position:absolute;
    z-index: 1000;
    margin-top: 135px;
    margin-left: 790px;
    position:absolute;
}

#tour10 img {
    position:absolute;
    z-index: 1000;
    margin-top: 135px;
    margin-left: 790px;
    position:absolute;
}

#tour11 img {
    position:absolute;
    z-index: 1000;
    margin-top: 135px;
    margin-left: 790px;
    position:absolute;
}

#tour12 img {
    position:absolute;
    z-index: 1000;
    margin-top: 135px;
    margin-left: 790px;
    position:absolute;
}